body{
    font-family: "Helvetica","Arial",serif;
    color:#333;
    background-color:white;
   margin: 1en 10%;
}
h1{
    font-size: 5em;
    color:#333;
    background-color: transparent;
}
a{
    background-color: transparent;
   font-weight:bold;
   text-decoration:none; 
   color:gray;
}
ul{
    padding:0;
}
li{
    float:left;
    padding:1em;
    list-style: none;
}
#imagegallery{
    list-style: none;
}
#imagegallery li{
    display:inline;
}
#imagegallery li a img{
    border:0;
}
